<include file="Public:header" />
<div class="main-container" style="border:1px solid red">
<div class="form-set">
	<form role="form">
	<fieldset>
		<legend>横向菜单添加</legend>
		
		<div class="form-group">
				<label for="">菜单名称</label>
				<input type="text" name="naviname" class="form-control" placeholder="NaviName">
		</div>
		<label for="">默认控制器</label>
		<div class="input-group">
				<input type="text" name="c" class="form-control" placeholder="Controller">
				<span class="input-group-addon">Controller</span>
		</div>

		
		<div class="form-group">
				<label for="">默认方法</label>
				<input type="text" name="v" class="form-control" placeholder="Function">
		</div>

		<label for="">显示顺序</label>
		<div class="input-group">
				<input type="text" name="sort_id" class="form-control" placeholder="sort_id">
				<span class="input-group-addon">7</span>
		</div>
	</fieldset>
	</form>
</div>
</div>
<include file="Public:footer" />