<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP测试</title>
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- <link href="__STATIC__/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="__STATIC__/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<!-- <link href="__STATIC__/bootstrap/css/docs.css" rel="stylesheet"> -->
<link href="__CSS__/style.css" rel="stylesheet">
<link href="__STATIC__/datetime/css/datetimepicker.css" rel="stylesheet" media="screen">

<!-- <link href="__STATIC__/bootstrap/css/style.css" rel="stylesheet"> -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="__JS__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<!-- <script type="text/javascript" src="__STATIC__/datetime/js/bootstrap-datetimepicker.js"></script> -->
<script type="text/javascript" src="__JS__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap-page.min.js"></script>
</head>