<include file="Public/header"/>
	<h1 class="htag" >mythink 功能模板</h1>
	<div class="body" >
    <a href="{:U('mail/index')}" class="btn btn-primary mar20">swift邮件</a>
    <a href="{:U('upload/index')}" class="btn btn-primary mar20">文件上传</a>
    <a href="{:U('editor/index')}" class="btn btn-primary mar20">文本编辑器</a>
    <a href="{:U('page/index')}" class="btn btn-primary mar20">bootstarp 样式分页</a>
    <a href="{:U('page/btajax')}" class="btn btn-primary mar20">bootstarp ajax分页</a>
    <a href="{:U('page/bootjs')}" class="btn btn-primary mar20">bootstarp分页插件</a>
    <a href="{:U('grid/index')}" class="btn btn-primary mar20">jqGrid</a>
    <a href="{:U('wish/index')}" class="btn btn-primary mar20">心愿提交</a>
    </div>
</body>
</html>